h1{
  border: 5px;
    padding: 40px ;
   background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px 0px 0px 180px;
    text-align: center;
} 
.caption {

}