body { 
    background-image: url(joe.jpg);
    text-align: center;
}
div{
    background-image: url(s-o.jpg);
    height: 400vh;
    width: 500px;
    opacity: 4px;
    margin: 300px;
   /* margin-bottom: 0%;
    margin-bottom: 50px; */
}
.button{ 
    background-color: rgb(14, 129, 144);
     border-radius: 10px;
     width: 40px;
     height: 30px;
     margin: 30px;
}
 